body{
background-color: rgb(165, 42, 157);
font-family: Arial, Helvetica, sans-serif;
}
header{
background-color: rgb(0, 255, 251);
text-align: center;
}
section{
background-color: rgb(252, 3, 127);
padding: 16px;
margin: 16px;
max-width: 500px;
}
.conteudo-site{
display: flex;
flex-wrap: wrap;
justify-content: space-around;